<div class="jumbotron" style="background:#0BA1AC; color:white">
    <h1>VDI Connect</h1>
    <p class="lead">Bienvenue sur API VDIConnect</p>
    <p>L'APPLICATION QUI VOUS PERMET DE GAGNER DE L'ARGENT TOUS EN RESTANT CHEZ VOUS </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3 style="color:#0BA1AC">AUGMENTER SON REVENU</h3>
        <p class="p-2" style="height:200px ; width:200px"><img src="https://image.flaticon.com/icons/svg/817/817905.svg" /></p>
    </div>
    <div class="col-md-4">
        <h3 style="color:#0BA1AC">FAIRE DE BONNE AFFAIRE</h3>
        <p class="p-2" style="height:200px ; width:200px"><img src="https://image.flaticon.com/icons/svg/1077/1077969.svg" /></p>
    </div>
    <div class="col-md-4">
        <h3 style="color:#0BA1AC">S'ECHAPPER DU QUOTIDIEN</h3>
        <p class="p-2"><img style="height:200px ; width:200px" src="https://image.flaticon.com/icons/svg/19/19981.svg" /></p>
    </div>
</div>
